.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right , #7A88FF, #7AFFAF);
    opacity: .8;
    font-weight: 600;
    font-size: 30px;
}